VITE_ENTER_ANALYTICS_ENABLED=true
VITE_ENTER_ANALYTICS_TOKEN=
VITE_ENTER_PROJECT_ID=
VITE_ENTER_ANALYTICS_ENDPOINT=https://api.enter.pro
VITE_ENTER_ANALYTICS_DEFINITIONS_ENDPOINT=
VITE_ENTER_ANALYTICS_DEBUG=false

# EmailJS Configuration
# Get these from https://www.emailjs.com/
VITE_EMAILJS_SERVICE_ID=service_0pqpeh5
VITE_EMAILJS_TEMPLATE_ID=template_1jyyx4r
VITE_EMAILJS_PUBLIC_KEY=6p6G86b3GovPBdlyA
